.container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #effcff;
}
.movieDetailsContainer {
    margin-left: 30px;
    color: #022b69;
}

.movieMoreInfo {
    list-style: none;
    padding: 0;
    display: flex;
}

.movieMoreInfoItem {
    margin-right: 5px;
}

/* .homepageBox {
    padding: 10px 40px;
    background-color: #effcff;
    width: 1200px;
    border-radius: 0 0 5px 5px;
    list-style: none;
} */

.goBackBtn {
    margin-bottom: 10px;
}
/* .goBackBtn:hover {
    color: #c7fff2;
} */

/* .listReset {
    list-style: none;
    padding: 0;
}

.homepageListItem {
    margin-bottom: 5px;
    text-decoration: none;
} */

.homepageLink:hover {
    text-decoration: underline;
}
.homepageLinkActive {
    color: '#c7fff2';
}

.movieDetails {
    display: flex;
}
